body {
    margin: 20px;
    font-family: 'Times New Roman', Times, serif
}

.avatar {
    width: 150px;
}
.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    border-bottom: 5px solid #f7fece;
    background-color: #a6ddce;
    color: #2b2839;
}